@font-face {
    font-family: 'schoolboek';

    src: url('font/Schoolboek-Regular.eot');
    src: url('font/Schoolboek-Regular.eot?#iefix') format('embedded-opentype'), 
         url('font/Schoolboek-Regular.woff') format('woff'), 
         url('font/Schoolboek-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 130%;
}

body {
    font-family: "Times New Roman", Georgia, Serif !important;
    text-rendering: optimizeLegibility;
}

a {
    color: black;
    text-decoration: underline;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: 'schoolboek', sans-serif;
    margin-top: 1.5em;
}

form {
    text-align: center;
}
form input {
    font-size: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(190, 190, 190);
    margin-bottom: 1rem;
}

a.icon {
    text-decoration: none;
}

#results {
    max-width: 20cm;
    margin: 0 auto;
}

.resourcesNav {
    background-color: rgb(241, 241, 241);
    padding: 0.6rem 0.6rem 0.4rem 0.6rem;
}
.resourceNav a {
    font-family: 'schoolboek', sans-serif;
    margin-left: 1em;
}

.resourceNav:first-child > a {
    margin-left: 0;
}

.resourceNav {
    white-space: nowrap;
}

#results h2 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0.6rem 0.6rem 0.4rem 0.6rem;
    /* margin: 0; */
    background-color: rgb(241, 241, 241);
}

.results > ul {
    padding-left: 0.6rem;
}

.results > ul > li {
    list-style: none;
    margin-bottom: 1rem;
}

.results > ul > li > a {
    font-weight: bold;
}

.results > ul > li > em {
    font-style: italic;
    color: #07606e;
    font-weight: bold;
}

.results > ul .betnr {
    font-weight: bold;
}

.results > ul > li > ul {
    padding-left: 1em;
}

.results > ul > li > ul > li {
    list-style: none;
    display: flex;
}

a.icon {
    text-decoration: none;
}

p.failed {
    background-color: rgb(255, 220, 178);
    color: black;
    font-weight: bold;
    padding: 0.5rem;
}

.ordinal {
    min-width: 1.9em;
    font-weight: bold;
}

table.conc {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
}

table.conc td.before {
    text-align: right;
    white-space: nowrap;
    padding-right: 0.5em;
}

table.conc td.match {
    text-align: center;
    white-space: nowrap;
}

table.conc td.after {
    text-align: left;
    white-space: nowrap;
    padding-left: 0.5em;
}